<!-- Modal -->
<div id="filterModal" class="modal fade" role="dialog" ng-controller="filterModalController as filterCtrl">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header featured">
				<h4 class="modal-title ">Filter Restaurants</h4>
			</div>
			<form>
				<div class="modal-body">

					<div class="form-group">
						<label for="cuisineFilter">Filter by Cuisine</label>
						<select class="form-control" name="cuisineFilter" id="cuisineFilter"
						ng-options="option.name for option in cuisineOptions.availableOptions track by option.id"
						ng-model="cuisineOptions.selectedOption">
						</select>
					</div>

					<div class="form-group">
						<label for="cityFilter">Filter by City</label>
						<select class="form-control" name="cityFilter" id="cityFilter"
						ng-options="option.name for option in cityOptions.availableOptions track by option.id"
						ng-model="cityOptions.selectedOption">
						</select>
					</div>
				</div>

				<div class="modal-footer featured">
					<button type="Subbmit" class="btn btn-default featured" ng-click="filterCtrl.filter()" aria-label="Filter the Restaurants">Filter</button>
				</div>
			</form>
		</div>
	</div>
</div>
