<!-- Modal -->
	<div id="addReviewModal" class="modal fade" role="dialog" ng-controller="ReviewModalController as reviewCtrl">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header featured">
					<h4 class="modal-title ">Add Review</h4>
				</div>
				<form name="reviewForm" id="reviewForm">
					<div class="modal-body">
						<div id="errorDetails" class="sr-only featured" aria-live="polite">{{restaurantCtrl.errorDetails}}</div>
						<div class="form-group">
							<label for="reviewerName">Name</label>
							<input type="text" class="form-control" id="reviewerName" ng-model="restaurantCtrl.reviewerName" aria-describedby="nameHelp" aria-required="true" required="true" placeholder="Enter Your Name">
							<small id="nameHelp" class="form-text text-muted sr-only" aria-hidden="true">Please Enter your name.</small>
						</div>
						<div class="form-group">
							<label for="reviewText">Review Text</label>
							<textarea class="form-control" id="reviewText" aria-label="reviewTextHelp" ng-model="restaurantCtrl.reviewerText" aria-required="true" required="true" rows="3"></textarea>
							<small id="reviewTextHelp" class="form-text text-muted sr-only" aria-hidden="true">Please Enter a review.</small>
						</div>
						<fieldset class="form-group">
							<legend>Rating</legend>
							<div class="form-check">
								<label class="form-check-label" for="onestar">
									<input type="radio" class="form-check-input" ng-checked="true" name="optionsRadios" id="onestar"  ng-init="restaurantCtrl.reviewerRate = 1" ng-model="restaurantCtrl.reviewerRate" value="1" aria-label="Rate {{restaurantCtrl.restaurant.name}} for 1 Star">
									<span class="glyphicon glyphicon-star rating-icon"></span>
								</label>
							</div>
							<div class="form-check">
								<label class="form-check-label"  for="twoStar">
									<input type="radio" class="form-check-input" name="optionsRadios" id="twoStar" ng-model="restaurantCtrl.reviewerRate" value="2" aria-label="Rate {{restaurantCtrl.restaurant.name}} for 2 Star">
									<span class="glyphicon glyphicon-star rating-icon"></span>
									<span class="glyphicon glyphicon-star rating-icon"></span>
								</label>
							</div>
							<div class="form-check">
								<label class="form-check-label"  for="threeStar">
									<input type="radio" class="form-check-input" name="optionsRadios" id="threeStar" ng-model="restaurantCtrl.reviewerRate"value="3" aria-label="Rate {{restaurantCtrl.restaurant.name}} for 3 Star">
									<span class="glyphicon glyphicon-star rating-icon"></span>
									<span class="glyphicon glyphicon-star rating-icon"></span>
									<span class="glyphicon glyphicon-star rating-icon"></span>
								</label>
							</div>
							<div class="form-check">
								<label class="form-check-label"  for="fourStar">
									<input type="radio" class="form-check-input" name="optionsRadios" id="fourStar" ng-model="restaurantCtrl.reviewerRate" value="4" aria-label="Rate {{restaurantCtrl.restaurant.name}} for 4 Star">
									<span class="glyphicon glyphicon-star rating-icon"></span>
									<span class="glyphicon glyphicon-star rating-icon"></span>
									<span class="glyphicon glyphicon-star rating-icon"></span>
									<span class="glyphicon glyphicon-star rating-icon"></span>
								</label>
							</div>
							<div class="form-check">
								<label class="form-check-label"  for="fiveStar">
									<input type="radio" class="form-check-input" name="optionsRadios" id="fiveStar" ng-model="restaurantCtrl.reviewerRate" value="5" aria-label="Rate {{restaurantCtrl.restaurant.name}} for 5 Star">
									<span class="glyphicon glyphicon-star rating-icon"></span>
									<span class="glyphicon glyphicon-star rating-icon"></span>
									<span class="glyphicon glyphicon-star rating-icon"></span>
									<span class="glyphicon glyphicon-star rating-icon"></span>
									<span class="glyphicon glyphicon-star rating-icon"></span>
								</label>
							</div>
						</fieldset>


					</div>
					<div class="modal-footer featured">
					<button type="button" class="btn btn-default featured" ng-click="restaurantCtrl.addReview()" aria-label="Subbmit your Review for {{restaurantCtrl.restaurant.name}}">Add Review</button>
					</div>
				</form>
			</div>
		</div>
	</div>
